@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish: hsl(228, 12%, 48%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-cream);
}

body p {
  font-size: 14px;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  color: var(--neutral-dark-grayish);
}

.fraunces {
  font-family: "Fraunces", serif;
}

.container {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
  height: 450px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  border-radius: 1rem 0 0 1rem;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--neutral-white);
  border-radius: 0 1rem 1rem 0;
  width: 50%;
  height: 100%;
}

.cardContent h1 {
  line-height: 33px;
  padding-right: 20px;
}

.cardContent p {
  line-height: 25px;
  padding-right: 10px;
}

.cardTitle {
  letter-spacing: 0.4rem;
  font-weight: 400;
}

.price {
  display: flex;
  font-size: 14px;
}

.price h1 {
  color: var(--primary-dark-cyan);
}

.price span {
  padding: 5px;
  margin-left: 10px;
  text-decoration-line: line-through;
}

.btn {
  height: 48px;
  background-color: var(--primary-dark-cyan);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  border: 0;
  border-radius: 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnText {
  margin-left: 5px;
}


.btn:active {
  background-color: var(--neutral-dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 650px) {
  .card {
    flex-direction: column;
    width: 345px;
    height: 610px;
  }

  .cardImage {
    width: 100%;
    height: 240px;
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
  }

  .cardContent {
    width: 100%;
    height: 370px;
    padding: 1.3rem;
    border-radius: 0 0 1rem 1rem;
    justify-content: space-around;
  }

  .cardContent h1 {
    padding-right: 0;
  }
}
